root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
switch_case_indent = true

[*.yaml{,.aged}]
indent_size = 2

[*.nix]
indent_size = 2
