# Note: using nix-direnv because it caches more aggressively than direnv's
# builtin `use asdf`. I'm willing to accept the potential issues for the
# speedup.
if ! has nix_direnv_version || ! nix_direnv_version 2.2.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
fi

# Note: using `--impure` so we can access various decrypted secrets that are
# reproducible, but not version controlled.
use flake --impure
