# Just some dummy data. Copy me to secrets.nix and fill in the real values.
{
  kodi = {
    mysql = {
      password = "EXAMPLE PASSWORD";
    };
  };

  # Generate these by following the instructions on
  # https://github.com/jdf76/plugin.video.youtube/wiki/Personal-API-Keys
  youtube = {
    api_key = "EXAMPLE API KEY";
    client_id = "EXAMPLE CLIENT ID";
    client_secret = "EXAMPLE CLIENT SECRET";
  };
}
