[project]
name = "devshell"
version = "0.1.0"
description = ""
authors = []
requires-python = ">= 3.12"
dependencies = [
    "click",
    "paho-mqtt",
    "pulumi",
    "pulumi-cloudflare",
    "pydantic",
    "remote-pdb", # Useful for debugging. See <https://github.com/pulumi/pulumi/issues/1372> for details.
    "rich",
]

[tool.uv.sources]
pulumi-crds = { path = "packages/pulumi-crds", editable = false }

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
